<div class="page-header">
  <h1>Showing all books</h1>
</div>

<div class="row">
  <% @book.each do |book| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag(("startwithwhy"), :class => "book_index") %>
      <div class="caption">
        <h3><%= book.title %></h3>
        <h5><%= book.author.name %></h5>
        <p><%= link_to 'view book', book_path(book), class: "btn btn-primary" %></p>
        <p><%= link_to 'Add to cart', "#", class: "btn btn-success" %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= render 'layouts/paginate', obj: @book %>
